/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
	.container {
		max-width: 540px;
		padding-left: 12px;
		padding-right: 12px;
	}
 }

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
	.container {
		max-width: 576px;
		padding-left: 0px;
		padding-right: 0px;
	}
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
	.container {
		max-width: 744px;
	}
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
	.container {
		max-width: 900px;
	}
}
